<p-menubar>
  <ng-template pTemplate="start">
    <button
      pButton
      icon="pi pi-bars"
      class="p-button-text"
      type="button"
      (click)="toggleSidebar()"
    ></button>
    <span class="app-title">GameVault</span>
  </ng-template>
</p-menubar>

@if (sidebarVisible()) {
  <aside class="sidebar" (click)="sidebarVisible.set(false)">
    <ul class="menu" (click)="$event.stopPropagation()">
      <li>
        <a routerLink="/games" routerLinkActive="active">Gry</a>
      </li>
    </ul>
  </aside>
}

<main class="app-main">
  <router-outlet />
</main>


